@page
@model DoAn_WEB.Pages.ProductLog.ListProduct;
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div>
        <a href="./AddProduct">Thêm sản phẩm</a> | <a href="./Inventory">Tồn kho</a> | <a href="./Expires">Hàng hết hạn</a>
        <form method="post">
            <input type="text" value="" name="Keyword"/>
            <input type="submit" value="Tim kiem"/>
        </form>
    </div>
    @if (Model.dssp.Count > 0)
    {
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Expiration date</th>
                    <th>Provider</th>
                    <th>Created date</th>
                    <th>Category</th>
                    <th>Detail</th>
                </tr>
                @{
                    foreach (var sp in Model.dssp)
                    {
                        <tr>
                            <td>@sp.Id</td>
                            <td>@sp.Name</td>
                            <td>@sp.ExpDate.ToShortDateString() </td>
                            <td>@sp.Provider</td>
                            <td>@sp.Created.ToShortDateString()</td>
                            <td>@sp.Category.Name</td>
                            <td>
                                <a href="./UpdateProduct?ID=@sp.Id">Sửa</a> <a href="./DeleteProduct?ID=@sp.Id">Xoá</a>
                            </td>
                        </tr>
                    }
                }
            </table >
        </div>
    }
</div>
</body>
</html>