@page
@model DoAn_WEB.Pages.OrderOutput.DetailOrder

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@if (Model.Invoice.InvoiceDetails.Count > 0)
{
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total amount</th>
            </tr>
            @{
                foreach (var input in Model.Invoice.InvoiceDetails)
                {
                    <tr>
                        <td>@input.id</td>
                        <td>@input.Product.Name</td>
                        <td>@input.Quantity</td>
                        <td>@input.Price</td>
                        <td>@input.TotalAmount()</td>
                    </tr>
                }
            }
        </table>
        <a href="./ListOrderInput">Back</a>
    </div>
}
</body>
</html>